.Tiffin {
      text-align: center;
      font-size: 20px;
      color:green;
      /* background-image:url("https://i.pinimg.com/474x/c1/a4/02/c1a4022db4a1cd0145f67e2f094161b7.jpg"); */
    }

    .Red {
      text-align: center;
      font-size: 20px;
      color:red;
      /* background-image:url("https://i.pinimg.com/474x/c1/a4/02/c1a4022db4a1cd0145f67e2f094161b7.jpg"); */
    }